body {
    margin: 2% 5%;
    background-color: #001e38;
    color: white;
    font-size: 1em;
    font-family: 'IBM Plex Sans';
    overflow-y: hidden;
}

.btn {
    border-radius: 0;
    background-color: #ed8a76;
    /* border: 1px solid white; */
    font-family: "IBM Plex Mono";
    outline: 0 !important;
}
.btn-secondary {
  border-radius: 5px;
}

.btn:hover, .btn:visited, .btn:active {
    background-color: #ce7361;
    color: white;
    outline: 0 !important;
}

.btn:focus {
    outline: 0 !important;
}

.button-row {
    margin-bottom: 5%;
}

#chart {
    height: 100%;
}

#chart-title {
    font-size: 2.5em;
    margin-bottom: 5%;
    font-family: "IBM Plex Sans";
}

#chart-legend {
    height: 80px;
}

#chart-container {
    margin-top: -4%;
}

#section {
    height: auto;
    overflow: auto;
    border-left: 1px solid whitesmoke;
    padding-left: 30px;
}

#section-title {
    font-size: 2.5em;
    margin-bottom: 5%;
    font-weight: 800;
}

#section-name {
    font-size: 2em;
    font-style: italic;
    margin-bottom: 10%;
}

#section-description {
    font-size: 1.5em;
    margin-bottom: 10%;
    font-family: "IBM Plex Serif";
    font-weight: 300;
}

#section-images {
    margin: 5% 0%;
}

.section-image {
    width: 100%;
    height: auto;
    margin: 5% 0%;
}

#section-references {
    color: whitesmoke;
    font-style: italic;
}

.references {
    font-size: 1.3em;
    margin-bottom: 20px;
}




/* D3 STYLING FOR CHART */
.names {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
}

/* Tooltip CSS */
.d3-tip {
    line-height: 1.5;
    font-weight: 400;
    font-family:"IBM Plex Mono";
    padding: 6px;
    background: rgba(0, 0, 0, 0.6);
    color: #ce7361;
    border-radius: 1px;
    pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 8px;
    width: 100%;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.6);
    position: absolute;
    pointer-events: none;

}

/* Northward tooltips */
.d3-tip.n:after {
    content: "\25BC";
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
    text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
    content: "\25C0";
    margin: -4px 0 0 0;
    top: 50%;
    left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
    content: "\25B2";
    margin: 0 0 1px 0;
    top: -8px;
    left: 0;
    text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
    content: "\25B6";
    margin: -4px 0 0 -1px;
    top: 50%;
    left: 100%;
}

/*    text{
      pointer-events:none;
    }*/

.details{
    color:white;
}


.label {
    fill: white;
    stroke: 0px;
    font-family: "IBM Plex Mono";
    font-size: 1em;
    font-weight: 300;
}

.radio {
    display: inline;
    margin-right: 10px !important;

}

.featherlight-content {
  background: rgb(3, 44, 79) !important;
  max-width: 80%;
}

.radioOptions input[type="radio"] {
  display: none;
}
.radioOptions label {
  display: inline-block;
  font-size: 12px;
  border: 0;
  margin: 2px;
}
.radioOptions input[type="radio"]:checked+label {
  background-color: #ce7361;
}


.enter-button {
    position: absolute;
    bottom: 10%;
    width: 20%;
    left: 40%;
    font-size: 2em;
}

.btn-primary.active, .btn-primary:active {
    color: #fff;
    background-color: #286090;
    border: 1px solid white !important;
}